.row {
  width: 634px;
  height: 88px;

  border-radius: 4px;
  margin-bottom: 14px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
}

.data {
  flex-direction: column;
}

.availability {
  position: absolute;
  margin-left: 10px;
  margin-top: -5px;
  &.not {
    background-color: #b1b9db !important;
  }
  background-color: #16ba44;
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
