<!-- Friend list item -->

<div class="row align-items-center">
  <div class="col-2 d-flex">
    <!-- Class 'not' is activated when there is no availability, meanwhile will be 'available' style -->
    <span [class.not]="!friend?.available" class="availability"></span>
    <app-avatar [image]="friend.img" [width]="60" [height]="60"></app-avatar>
  </div>
  <div class="col-8">
    <div class="data d-flex value">
      <label>{{ friend?.first_name }} {{ friend?.last_name }}</label>
      <span class="status">{{ friend.status }}</span>
    </div>
  </div>
  <div class="col-2">
    <button class="btn btn-primary" (click)="goToDetails(friend.id)">
      Details
    </button>
  </div>
</div>
