.container {
  position: absolute;
  width: 714px;
  height: 634px;
  left: 20%;
  top: 10%;
  padding: 30px 40px;
  overflow-y: scroll;
}

.title {
  font-family: "Inter" sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 24px;
  color: #b1b9db;
  margin-bottom: 24px;
}

.friends {
  list-style: none;
  padding: 0px;
}

:host {
  ::-webkit-scrollbar-thumb {
    position: absolute;
    width: 5px;
    height: 46px;
    left: 1072px;
    top: 273px;

    background-color: #b1b9db;
    border-radius: 8px;
  }
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    position: absolute;
    width: 5px;
    height: 552px;
    left: 1072px;
    top: 273px;

    background-color: rgba(177, 185, 219, 0.3);
    border-radius: 8px;
    margin-top: 56px;
    margin-bottom: 6px;
  }
}
