<div class="container">
  <div class="title">
    <label>Friends</label>
  </div>
  <!-- Spinner component to show when getting data from api -->
  <ngx-spinner #spinner type="ball-scale-pulse">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

  <ul class="friends">
    <li *ngFor="let friend of friendsList$ | async; trackBy: trackByFn">
      <app-friend-list-item [friend]="friend"></app-friend-list-item>
    </li>
  </ul>
</div>
