<!-- Component to show friend's info -->

<div class="row" style="margin-top: 10px">
  <div class="col-6">
    <label class="property">{{ property }}</label>
  </div>
  <div class="col-6">
    <label class="value">{{ value }}</label>
  </div>
</div>
