<div class="info">
  <label class="property">Bio:</label>
  <label class="value" style="margin-top: 10px">
    {{ friend?.bio }}
  </label>
  <hr />
  <app-detail [property]="'Phone:'" [value]="friend?.phone"></app-detail>
  <hr />
  <app-detail [property]="'Address:'" [value]="friend?.address_1"></app-detail>
  <app-detail [property]="'City:'" [value]="friend?.city"></app-detail>
  <app-detail [property]="'State:'" [value]="friend?.state"></app-detail>
  <app-detail [property]="'Zipcode:'" [value]="friend?.zipcode"></app-detail>
  <app-detail [property]="'State'" [value]="friend?.state"></app-detail>
</div>
