.info {
  width: 488px;
  height: 474px;

  background: #ffffff;
  /* Drop Shadow */

  box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
  border-radius: 8px;
  padding: 28px;
}

hr {
  border: 1px solid rgba(177, 185, 219, 0.5);
  margin: 28px 0px !important;
}
