.back {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 10%;
  top: 60px;

  background: #ffffff;
  border-radius: 8px;
}

.primary {
  color: #2e57fa;
}

.rectangle {
  position: absolute;
  width: 608px;
  height: 904px;
  left: 20%;
  top: 60px;
  padding: 60px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.availability {
  position: absolute;
  margin-left: -9px;
  margin-top: -9px;
  &.not {
    background-color: #b1b9db !important;
  }
  background-color: #16ba44;
  height: 23px;
  width: 23px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 4px solid #ffffff;
}

.name {
  //   font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.status {
  width: fit-content;
  padding: 0px 8px;

  width: fit-content;

  border: 1px solid #b1b9db;
  border-radius: 20px;
  color: #b1b9db;
  //   font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.nav-tabs {
  border-bottom: none !important;
}

.nav-link {
  padding: 8px 20px !important;
  color: #5c5f6b;
}

.nav-tabs .nav-link.active {
  background-color: transparent !important;
  border-color: transparent !important;
  border-bottom: 2px solid #000000 !important;
  //   font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.tab-content {
  margin-top: 10px;
}
