<ng-container *ngIf="friend$ | async as friend">
  <div class="content">
    <button class="btn back" (click)="goBack()">
      <bi name="arrow-left" class="primary"></bi>
    </button>
    <div class="rectangle">
      <!-- Spinner component to show when getting data from api -->
      <ngx-spinner type="ball-scale-pulse">
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
      <div class="row">
        <span [class.not]="!friend.available" class="availability"></span>
        <app-avatar
          [image]="friend.img"
          [width]="150"
          [height]="140"
          [hasMargin]="false"
        ></app-avatar>
      </div>
      <div class="row" style="margin-top: 23px">
        <label class="name"
          >{{ friend.first_name }} {{ friend.last_name }}</label
        >
      </div>
      <div class="row" style="margin-top: 10px">
        <span class="status">{{ friend.statuses[0] }}</span>
      </div>
      <div class="row" style="margin-top: 30px">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Info</a>
            <ng-template ngbNavContent>
              <app-info-tab [friend]="friend"></app-info-tab>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Photos</a>
            <ng-template ngbNavContent>
              <app-photos-tab [friend]="friend"></app-photos-tab>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="tab-content"></div>
      </div>
    </div>
  </div>
</ng-container>
