<div class="gallery">
  <div
    class="photo"
    *ngFor="let photo of photos"
    (click)="onSelectPhoto(photo)"
  >
    <app-avatar
      [width]="136"
      [height]="136"
      [image]="photo"
      [hasMargin]="false"
    ></app-avatar>
  </div>
</div>

<div class="selected-image" *ngIf="selected">
  <img appBackgroundImage [image]="selected" [altImage]="'/assets/user.png'" />

  <button class="btn btn-close" (click)="onClose()">
    <bi name="close"></bi>
  </button>
</div>
