.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 136px);
  justify-content: center;
  gap: 20px;
}

.photo:hover {
  cursor: pointer;
}

.selected-image {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(55, 62, 90, 0.9);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  img {
    width: 685px;
    height: 456px;
    display: block;
    border-radius: 4px;
  }

  .btn-close {
    position: absolute;
    top: 60px;
    right: 60px;
  }
}

.btn-close {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 8px;
  border: none;
  bi {
    color: white;
  }
}
