.photos {
  padding: 20px;
  gap: 20px;

  width: 488px;
  //   height: 488px;

  background: #ffffff;
  /* Drop Shadow */

  box-shadow: 0px 10px 20px rgba(204, 208, 223, 0.5);
  border-radius: 8px;
}

img {
  width: 136px;
  height: 136px;
  border-radius: 4px;
}

.photos-list {
  list-style: none;
  padding: 0px;
}

li:first-child {
  padding-left: 0px !important;
}
